
.left-div
{
    float:left;
    width: 195px;
    box-shadow: 2px 2px 1px #888888;
}
.right-div
{
    float:right;
    width: 195px;
    margin-top: -200px;
    box-shadow: 2px 2px 1px #888888;
}
.main-div
{
    margin-left:200px;
    margin-right:200px;
    background-color: #F5F5F5;
}
.comments_area{
    background-color: #78DADD;
}

.dropdown-menu{
min-width: 280px;!important;
}