<!DOCTYPE html>
<html lang="en" ng-app="myWebApp">
<head>
<title>Thota.org</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Add Controllers here  -->
<script type="text/javascript" src="controllers/main_controller.js"></script>
<style>
.left-div
{
float:left;
background-color: #D3D3D3;
}
.right-div
{
float:right;
background-color: #D3D3D3;
}
.main-div
{
margin-left:200px;
margin-right:200px;
background-color: #F5F5F5;
}
.comments_area{
background-color: #78DADD;
}
</style>
</head>
 <body>
 <div id="main_header" class="navbar navbar-inverse">
 	<div class="collapse navbar-collapse">
	<div class="nav navbar-nav navbar-right">
	<input type="button" class="btn btn-primary" value="Login"></input>
	<input type="button" class="btn btn-primary" value="Register"></input>
	</div> 	
	<h1><a href="">Thota.org</a></h1>
		<ul id="thota-header-menu" class="nav navbar-nav">
		<li><a href="" title="Click here to navigate to Home">Home</a></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Technologies <span class="caret"></span></a>
		<ul class="dropdown-menu">
		<li><a href="#" title="">Angular JS</a></li>
		<li><a href="#" title="">Programming Languages</a></li>
		<li><a href="#" title="">Database Management</a></li>
		<li><a href="#" title="">Web Technologies</a></li>
		</ul>
		</li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Personality Development <span class="caret"></span></a>		
		<ul class="dropdown-menu">
		<li><a href="#" title="">English Speaking Skills</a></li>
		<li><a href="#" title="">Interview Skills</a></li>
		<li><a href="#" title="">Interpesonnel Skills</a></li>
		<li><a href="#" title="">Other Skills</a></li>
		</ul>
		</li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Companies<span class="caret"></span></a>		
		<ul class="dropdown-menu">
		<li><a href="#main_content" title="">Excers</a></li>
		<li><a href="#" title="">Tech Mahindra</a></li>
		<li><a href="#" title="">TCS</a></li>
		<li><a href="#" title="">Google</a></li>
		<li><a href="#" title="">Facebook</a></li>
		<li><a href="#" title="">Linked-in</a></li>
		<li><a href="#" title="">Verizon</a></li>		
		</ul>
		</li>		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test<span class="caret"></span></a>		
		<ul class="dropdown-menu">
		<li><a href="#" title="">1</a></li>
		<li><a href="#" title="">2</a></li>
		<li><a href="#" title="">3</a></li>
		<li><a href="#" title="">4</a></li>
		<li><a href="#" title="">5</a></li>
		<li><a href="#" title="">6</a></li>
		<li><a href="#" title="">7</a></li>		
		</ul>
		</li>		
		</ul>
	</div>
 </div>
  <div class="main_content_div">
	<div class="left-div">
	This is Left division..
	</div>
 	<div class="main-div">
	<div ng-controller="shareExp">
		<div class="write_article">
		<h4>Share your Interview Experience!</h4>
		<hr/>
		<input type="button" name="Write" Value="Write" class="btn btn-default" ng-click="openExpForm()"/>
		</div>
		<div id="art_form" ng-show="formExpFlag">
			<form>
			  <div class="form-group">
				<label for="companyName">Company Name</label>
				<input type="text" class="form-control" id="companyName" placeholder="Company Name" ng-model="companyName">
			  </div>
			  <div class="form-group">
				<label for="comments">Comments</label>
				<textarea class="form-control" rows="10" ng-model="expComments"></textarea>
			  </div>
			  <button type="submit" class="btn btn-default" ng-click="submitExperience()">Post</button>
			</form>
		</div>
		<!-- This will show all the experiences shared by everyone -->
		<div class="comments_area">
		<table class="table table-hover">
		<tr ng-repeat="exp in experiences">
			<td>{{exp.Name}}</td>		
			<td>{{exp.cmpnyName}}</td>
			<td>{{exp.Comments}}</td>		
		</tr>	
		</table>
		</div>
	</div>
	</div>
	<div class="right-div">
	This is right division..
	</div>
  </div>
</body>
</html>
